.wrap{
  width: 1440px;
  margin: 0 auto;
}
.h1{
  font-size: 40px;
}
.h2{
  font-size: 28px;
}
.h3{
   font-size: 20px;
}
.h4{
  font-size: 18px;
}
.h5{

}
.h6{

}
.p{
   font-size: 16px;  
}
.block{
  display: block;
}
.bold{
  font-weight: 700;
}
.paddingT50{
  padding-top: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.marginB30{
  margin-bottom: 30px;
}
.current{
  background-color: #333333 !important;
  color: #fff;
}
.paddingT20{
  padding-top: 20px;
}
.paddingB20{
  padding-bottom: 20px;
}
.flex{
  display:  flex;
}
.hide{
  display: none;
}