body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f7f8fb;
}
div#header{
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
}
div#header h1{
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}
div#header h1 a {
  
  font-size: 0;
  background-image: url(../img/logo.png);
  width: 208px;
  height: 18px;
  display: block;
}
div#header ul{
  display: flex;
}
div#header ul.etc{
}
div#header ul.etc li{
  padding: 5px 10px;
  border: 1px solid #999;
}
div#header ul.etc li:first-child{
  background-color: #3553a8;
  color: #fff;
}
div#header ul.etc li:first-child a{
  color: white
}
div#header ul.gnb{
  
}
div#header ul.gnb li{
  margin-left: 20px;
}
div#header ul.gnb li a{
  
  color: gray;
  font-size: 14px;
}
div#header ul.mainmenu{
  grid-column: 1 / span 2;
  grid-row: 2;
}
div#header ul.mainmenu li{
  font-weight: 600;
  margin-right: 40px;
}
div#header span.rightmenu{
  justify-self: right;
}
div#header span.rightmenu button{
  
}
div#header span.rightmenu button:first-child{
  display: inline-block;
  width: 23px;
  height: 24px;
  background-image: url(../img/search.png);
  font-size: 0;
  margin-right: 25px;
}
div#header span.rightmenu button:nth-child(2){
  display: inline-block;
  background-image: url(../img/icon_head_menu.png);
  width: 24px;
  height: 12px;
  font-size: 0;
}
div#wtitle{
  
  display: flex;
  justify-content: space-between;
}
/* 타이틀영역 */
div#title{
  
  width: 1026px;
  height: 400px;
  background-color: #c4cfff;
  border-radius: 50px;
  padding-top: 45px;
  padding-left: 50px;
  box-sizing: border-box;
  background-image: url(../img/book.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}
div#title h2{
  
  font-size: 40px;
  font-weight: bold;

}
div#title p{
  margin-top: 31px;
}
div#title ul{
  margin-top: 20px;
}
div#title ul li{
  
}
div#title a{
  
  display: block;
  width: 80px;
  height: 24px;
  margin-top: 100px;
}
div#wtitle {
 
}

/* 추천상품 */
main {
  
}
main section#product {
  
}
main section#product div.wrap {
   display: grid;
   grid-template-columns: 1fr 60px auto auto auto 414px;
   grid-template-rows: auto 1fr;
}
main section#product div.wrap h2 {
   
  line-height: 1.3;
  margin-bottom: 30px;
}
main section#product div.wrap ul.list {
   grid-column: 1;
   grid-row: 2;
}
main section#product div.wrap ul.list li {
  margin-bottom: 10px;
}
main section#product div.wrap ul.list li a.block {
  width: 70px;
  height: 40px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:20px;
}
main section#product div.wrap article.detail:nth-of-type(1) {
  
  grid-column: 3;
  grid-row: 1 / sapn 2;
}
main section#product div.wrap article.detail:nth-of-type(2) {
  
  grid-column: 4;
  grid-row: 1 / span 2;
}
main section#product div.wrap article.detail:nth-of-type(3) {
  
  grid-column: 5;
  grid-row: 1 / span 2;
}
main section#product div.wrap article.detail{
  width: 212px;
  height: 248px;
  background-color: #fff;
  border-radius: 10px;
  justify-self: right;
  margin-left: 20px;
  box-shadow: 0 0 16px #ccc;
}
main section#product div.wrap article.detail a.block {
  
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
main section#product div.wrap article.detail a.block h3 {
  
}
main section#product div.wrap article.detail a.block h4 {
  
}
main section#product div.wrap article.detail a.block p {
  
}
main section#product div.wrap article.detail a.block p:nth-of-type(1) {
  
  transform: translateY(-68%);
  color: gray;
}
main section#product div.wrap article.detail a.block p:first-child {
  
}
/* 공제회 이야기 */
section#story {
 
  display: grid;
  grid-template-columns: calc((100% - 1440px) / 2) auto 1fr;
}
section#story div.wrap {
  background-color: #ffebd0;
  border-radius: 15px;
  width: 1026px;
  grid-column: 2;
}
section#story div.wrap a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  
  position: relative;
}
section#story div.wrap a::before{
  content: "";
  background-image: url(../img/tv.png);
  width: 120px;
  height: 120px;
  position: absolute;
  right: 100px;
  top: -28px;
  transform: rotate(-33deg);
  transform-origin: 50% 0;
}
section#story div.wrap a h2 {
 
}
section#story div.wrap a p {
  
}
section#service {
  
}
section#service div.wrap {
  
}
section#service div.wrap h2 {
  
}
section#service div.wrap ul {
  
  width: 1026px;
  flex-wrap: wrap;
  gap: 10px;
}
section#service div.wrap ul li {
  width: calc(100% / 4 - 30px / 4);
  background-color: #f7f8fb;
  height: 249px;
  border-radius: 40px;
}
section#service div.wrap ul li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 40px;
  box-shadow: 0 0 10px #ccc;
  font-weight: bold;
}
section#service div.wrap ul li a::before {
  content: "";  
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 64px;
  height: 64px;
  transform: translateY(-6px);
}
section#service div.wrap ul li:nth-child(1) a::before{
    background-image: url(../img/s1.png);
}
section#service div.wrap ul li:nth-child(2) a::before{
    background-image: url(../img/s2.png);
}
section#service div.wrap ul li:nth-child(3) a::before{
    background-image: url(../img/s3.png);
}
section#service div.wrap ul li:nth-child(4) a::before{
    background-image: url(../img/s4.png);
}
section#service div.wrap ul li:nth-child(5) a::before{
    background-image: url(../img/s5.png);
}
section#service div.wrap ul li:nth-child(6) a::before{
    background-image: url(../img/s6.png);
}
section#service div.wrap ul li:nth-child(7) a::before{
    background-image: url(../img/s7.png);
}
section#service div.wrap ul li:nth-child(8) a::before{
    background-image: url(../img/s8.png);
}
section#news {
  
}
/* 뉴스 */
section#news div.wrap {
  
}
section#news div.wrap h2 {
  
}
section#news div.wrap ul {
  
  width: 1060px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}
section#news div.wrap ul li {
  
}
section#news div.wrap ul li a {
  line-height: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 10px;
}
section#news div.wrap ul li a::before {
  content: ".";
  position: absolute;
  left: 0;
  top: -5px;
}
section#news div.wrap ul li a time {
 
}
/* 어사이드 */
aside{
  position: absolute;
  top: 194px;
  right: calc((100% - 1440px) / 2);
  
}
/* 로그인 */
aside div.login {
  width: 264px;
  height: 400px;
  background-color: #f7f8fb;
  border-radius: 30px;
  padding: 19px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 0px 10px #ccc;
}
aside div.login >*{
}
aside div.login h2 {   
  align-self: flex-start;
  font-size: large;
  font-weight: bold;
}
aside div.login span {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #e8eaf1;
  border-radius: 8px;
  padding: 1px 0 1px;
}
aside div.login span button {
  width: 50%;
  text-align: center;
}
aside div.login span button:first-child {
  background-color: #fff;
  border-radius: 8px;
  font-weight: bold;
}
aside div.login span button:nth-child(2){
  color: gray;
}
aside div.login p {
  line-height: 1.5;
  text-align: center;
  font-size: 14px;
  color: gray;
}
aside div.login p::before{
  content:"" ;
  width: 64px;
  height: 64px;
  display: block;
  background-image: url(../img/login.png);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
aside div.login ul.in {
 
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #21409A;
  border-radius: 40px;
}
aside div.login ul.in li {
 
  width: 50%;
}
aside div.login ul.in li:nth-child(2){
  /
}
aside div.login ul.in li:nth-child(2) a::before{
  content:"";
  width: 2px;
  height: 14px;
  background-color: #fff;
  transform: translateX(-18px);
}
aside div.login ul.in li a {
  width: 100%;
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

aside div.login ul.sns {
  display: flex;
  width: 100%;
  height: 30px;
  font-size: 14px;
}
aside div.login ul.sns li {
  width: 33.3333%;
}
aside div.login ul.sns li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  position: relative;
}
aside div.login ul.sns li:nth-child(2) a::before,aside div.login ul.sns li:nth-child(3) a::before{
  content: ".";
  position: absolute;
  left: 0;
  top: 4px;
}
/* fam */
aside {
 
}
aside div.fam {
 padding-top: 30px;
 padding-bottom: 20px;
}
aside div.fam ul.list {
 justify-content: space-between;
}
aside div.fam ul.list li {
  width: calc(100% / 3);
}
aside div.fam ul.list li a {
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
}
aside div.fam ul.list li a::before{
  content: "";
  width: 80px;
  height: 80px;
  background-color: #f7f8fb;
  margin-bottom: 10px;
  border-radius: 10px;
  background-image: url(../img/a1.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 6px 6px 6px #ccc;
}
aside div.fam ul.list li:nth-child(2) a::before{
   background-image: url(../img/a2.png);
}
aside div.fam ul.list li:nth-child(3) a::before{
   background-image: url(../img/a3.png);
}
aside div.app{
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}
aside div.app img{
  
}
aside div.app p{
  font-size: 15px;
  line-height: 1.5;
}

/* 하단 */
footer {
  background-color: #565d72;
  overflow: hidden;
  color: #fff;
}
footer div.wrap {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 33px auto auto auto;
  row-gap: 35px;
  align-items: center;
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
}
footer div.wrap::before{
  content: "";
  border-top: 2px solid yellow;
  position: absolute;
  top: calc(68px + 25px);
  width: 100vw;
  left: 0;
  transform: translateX(calc((100% - 1440px) / -2));
}
footer div.wrap ul.sangdam {
 gap: 65px;
 font-size: 18px;
 font-weight: bold;
 margin-bottom: 35px;
}
footer div.wrap ul.sangdam li {
 
}
footer div.wrap ul.sns {
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
  gap: 20px;
  align-self: baseline;
}
footer div.wrap ul.sns li {
  
}
footer div.wrap ul.sns li a {
  font-size: 0;
  width: 24px;
  height: 24px;
}
footer div.wrap ul.sns li:nth-child(1) a {
  background-image: url(../img/sns1.png);
}
footer div.wrap ul.sns li:nth-child(2) a {
  background-image: url(../img/sns2.png);
}
footer div.wrap ul.sns li:nth-child(3) a {
  background-image: url(../img/sns3.png);
}
footer div.wrap ul.sns li:nth-child(4) a {
  background-image: url(../img/sns4.png);
}
footer div.wrap ul.sns li:nth-child(5) a {
  background-image: url(../img/sns5.png);
}
footer div.wrap ul.sns li:nth-child(6) a {
  background-image: url(../img/sns6.png);
}
footer div.wrap ul.sns li:nth-child(7) a {
  background-image: url(../img/sns7.png);
}
footer div.wrap ul.sns li:nth-child(8) a {
  background-image: url(../img/sns8.png);
}
footer div.wrap ul.fnb {
 grid-column: 1 / span 2;
 grid-row: 2;
 transform: translateX(-15px);
 margin-top: ;
}
footer div.wrap ul.fnb li {
 
}
footer div.wrap ul.fnb li a {
 padding: 12px;
 color: #fff;
}
footer div.wrap ul.fnb li a:hover{
  color: #f0f0bc;
  text-decoration: underline;
}
footer div.wrap span {
  grid-column: 3;
  grid-row: 2;
  justify-self: right;
  gap: 20px;
}
footer div.wrap span select {
  width: 180px;
  height: 48px;
  border-radius: 8px;
}
footer div.wrap span select option {
 
}
footer div.wrap address {
  grid-column: 1;
  grid-row: 3;
}
footer div.wrap p {
  grid-column: 1;
  grid-row: 4;
  margin-top: -42px;
}
footer div.wrap ul.fnb2 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  justify-self: right;
  border: 1px solid #333;
  border-radius: 6px;
  align-self: baseline;
}
footer div.wrap ul.fnb2 li {
 
}
footer div.wrap ul.fnb2 li a {
 padding: 7px 0;
 display: block;
 width: 119px; 
 text-align:center;
}
footer div.wrap ul.fnb2 li:not(:first-child) a{
  border-left:1px solid #333;
}
footer div.wrap ul.fnb2 li a:hover{
  color: #fff
}
footer div.wrap ul.fnb2 li:nth-child(5) a {
 
}
footer div.wrap ul.medal {
   grid-column: 1 / span 4;
   grid-row: 5;
   justify-content: space-between;
   font-size: 14px;
}
footer div.wrap ul.medal li {
    width: calc(100% / 4);
    position: relative;
    padding-left: 57px;
}
footer div.wrap ul.medal li img{
  position: absolute;
  left: 0;
  top: -5px;
}
footer div.wrap ul.medal li a {
  
}
footer div.wrap ul.medal li a img{
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
}
footer div.wrap ul.medal li:nth-child(4) a{
  color: #fff;
}
